body{
    margin: 0;
    padding: 0;
    background-color: rgb(199, 194, 194);
}
/* .flex{
    display: flex;
    justify-content: center;
   
} */

.as{
    margin-top: 100px;
    color: black;
   text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
}

.ss{
    text-align: center;
}

.img{
    width: 2;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    
    border: 1px solid rgb(236, 231, 231);
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 30px;
    width: 35%;
    align-items: center;
    background: transparent;
    position: relative;
    background-color: aliceblue;
    cursor: pointer;
}

/* .btn:hover{
    background-color: white;
    transition: 1.5s;
    width: 38%;
    border: 1px solid rgb(35, 34, 34);
    padding: 18px 43px;



} */


body,
html {
  height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


.image-button {
  display: inline-block;
  padding: 17px 14px;
  width: 351px;
  height: 57px;
  margin-top: 129px;
  font-size: 24px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.image-button img {
  width: 69px;
  /* Adjust the width as per your requirement */
  height: 20px;
  /* Adjust the height as per your requirement */
  margin-left: 100px;
  /* Add some space between text and image */

}

.image-button:hover {
  background-color: #b3b8be;
  /* Darker shade on hover */
}

.as {
  margin-right: 20px;
}